In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Enter a stock symbol
index = 'MSFT'

# URL links
url_is = f'https://finance.yahoo.com/quote/{index}/financials?p={index}'
url_bs = f'https://finance.yahoo.com/quote/{index}/balance-sheet?p={index}'
url_cf = f'https://finance.yahoo.com/quote/{index}/cash-flow?p={index}'

    # User-Agent header
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}

# Send requests with headers
response_is = requests.get(url_is, headers=headers)
response_bs = requests.get(url_bs, headers=headers)
response_cf = requests.get(url_cf, headers=headers)

# Check responses
if response_is.status_code == 200:
    print("Financials data retrieved successfully.")
    soup_is = BeautifulSoup(response_is.content, 'html.parser')  # Corrected to 'html.parser'
else:
    print(f"Failed to retrieve financials data. Status Code: {response_is.status_code}")

Financials data retrieved successfully.

In [64]:
ls = []  # Create an empty list to store data
for l in soup_is.find_all('div'):  # Find all 'div' elements in the BeautifulSoup object
    ls.append(l.string)  # Add each element's text content to the list

# Create a new list 'ls' excluding elements with text content 'Operating Expenses' and 'Non-recurring Events'
ls = [e for e in ls if e not in ('Operating Expense', 'Non-recurring Events')]

# Filter out the 'None' values
ls = list(filter(None,ls))

# Select only relevant items
ls = ls[15:]

# Fix the missing 'Total Revenue' column name
# Find the index of '6/30/2020'
index_2020 = ls.index('6/30/2020')

# Insert 'Total Revenue' at the index next to '6/30/2020'
ls.insert(index_2020 + 1, 'Total Revenue')

# Convert to a list
is_data = list(zip(*[iter(ls)]*5))
ls
#is_data

['Expand All',
 'ttm',
 '6/30/2022',
 '6/30/2021',
 '6/30/2020',
 'Total Revenue',
 '204,094,000',
 '198,270,000',
 '168,088,000',
 '143,015,000',
 'Cost of Revenue',
 '64,984,000',
 '62,650,000',
 '52,232,000',
 '46,078,000',
 'Gross Profit',
 '139,110,000',
 '135,620,000',
 '115,856,000',
 '96,937,000',
 '56,295,000',
 '52,237,000',
 '45,940,000',
 '43,978,000',
 'Operating Income',
 '82,815,000',
 '83,383,000',
 '69,916,000',
 '52,959,000',
 '423,000',
 '31,000',
 '-215,000',
 '89,000',
 '-650,000',
 '333,000',
 '1,186,000',
 '77,000',
 'Pretax Income',
 '82,588,000',
 '83,716,000',
 '71,102,000',
 '53,036,000',
 'Tax Provision',
 '15,139,000',
 '10,978,000',
 '9,831,000',
 '8,755,000',
 '67,449,000',
 '72,738,000',
 '61,271,000',
 '44,281,000',
 'Diluted NI Available to Com Stockholders',
 '67,449,000',
 '72,738,000',
 '61,271,000',
 '44,281,000',
 'Basic EPS',
 '-',
 '9.70',
 '8.12',
 '5.82',
 'Diluted EPS',
 '-',
 '9.65',
 '8.05',
 '5.76',
 'Basic Average Shares',
 '-',
 '7,496,000',
 '7,547,000',
 '7,610,000',
 'Diluted Average Shares',
 '-',
 '7,540,000',
 '7,608,000',
 '7,683,000',
 'Total Operating Income as Reported',
 '82,815,000',
 '83,383,000',
 '69,916,000',
 '52,959,000',
 'Total Expenses',
 '121,279,000',
 '114,887,000',
 '98,172,000',
 '90,056,000',
 'Net Income from Continuing & Discontinued Operation',
 '67,449,000',
 '72,738,000',
 '61,271,000',
 '44,281,000',
 'Normalized Income',
 '67,895,731',
 '72,738,000',
 '61,271,000',
 '44,281,000',
 'Interest Income',
 '2,412,000',
 '2,094,000',
 '2,131,000',
 '2,680,000',
 'Interest Expense',
 '1,989,000',
 '2,063,000',
 '2,346,000',
 '2,591,000',
 'Net Interest Income',
 '423,000',
 '31,000',
 '-215,000',
 '89,000',
 'EBIT',
 '84,577,000',
 '83,383,000',
 '69,916,000',
 '52,959,000',
 'EBITDA',
 '98,767,000',
 '-',
 '-',
 '-',
 'Reconciled Cost of Revenue',
 '64,984,000',
 '62,650,000',
 '52,232,000',
 '46,078,000',
 'Reconciled Depreciation',
 '14,190,000',
 '14,460,000',
 '11,686,000',
 '12,796,000',
 'Net Income from Continuing Operation Net Minority Interest',
 '67,449,000',
 '72,738,000',
 '61,271,000',
 '44,281,000',
 'Total Unusual Items Excluding Goodwill',
 '-547,000',
 '334,000',
 '1,303,000',
 '28,000',
 'Total Unusual Items',
 '-547,000',
 '334,000',
 '1,303,000',
 '28,000',
 'Normalized EBITDA',
 '99,314,000',
 '97,843,000',
 '81,602,000',
 '65,755,000',
 'Tax Rate for Calcs',
 '0',
 '0',
 '0',
 '0',
 'Tax Effect of Unusual Items',
 '-100,269',
 '0',
 '0',
 '0',
 'Â© 2023 Yahoo. All rights reserved.']

In [53]:
# Add everything to a dataframe
income_st = pd.DataFrame(is_data[0:])
income_st

,0,1,2,3,4,5
0,ttm,6/30/2022,6/30/2021,6/30/2020,Total Revenue,"204,094,000"
1,"198,270,000","168,088,000","143,015,000",Cost of Revenue,"64,984,000","62,650,000"
2,"52,232,000","46,078,000",Gross Profit,"139,110,000","135,620,000","115,856,000"
3,"96,937,000","56,295,000","52,237,000","45,940,000","43,978,000",Operating Income
4,"82,815,000","83,383,000","69,916,000","52,959,000","423,000","31,000"
5,"-215,000","89,000","-650,000","333,000","1,186,000","77,000"
6,Pretax Income,"82,588,000","83,716,000","71,102,000","53,036,000",Tax Provision
7,"15,139,000","10,978,000","9,831,000","8,755,000","67,449,000","72,738,000"
8,"61,271,000","44,281,000",Diluted NI Available to Com Stockholders,"67,449,000","72,738,000","61,271,000"
9,"44,281,000",Basic EPS,-,9.70,8.12,5.82
10,Diluted EPS,-,9.65,8.05,5.76,Basic Average Shares
11,-,"7,496,000","7,547,000","7,610,000",Diluted Average Shares,-
12,"7,540,000","7,608,000","7,683,000",Total Operating Income as Reported,"82,815,000","83,383,000"
13,"69,916,000","52,959,000",Total Expenses,"121,279,000","114,887,000","98,172,000"
14,"90,056,000",Net Income from Continuing & Discontinued Oper...,"67,449,000","72,738,000","61,271,000","44,281,000"
15,Normalized Income,"67,895,731","72,738,000","61,271,000","44,281,000",Interest Income
16,"2,412,000","2,094,000","2,131,000","2,680,000",Interest Expense,"1,989,000"
17,"2,063,000","2,346,000","2,591,000",Net Interest Income,"423,000","31,000"
18,"-215,000","89,000",EBIT,"84,577,000","83,383,000","69,916,000"
19,"52,959,000",EBITDA,"98,767,000",-,-,-
20,Reconciled Cost of Revenue,"64,984,000","62,650,000","52,232,000","46,078,000",Reconciled Depreciation
21,"14,190,000","14,460,000","11,686,000","12,796,000",Net Income from Continuing Operation Net Minor...,"67,449,000"
22,"72,738,000","61,271,000","44,281,000",Total Unusual Items Excluding Goodwill,"-547,000","334,000"
23,"1,303,000","28,000",Total Unusual Items,"-547,000","334,000","1,303,000"
24,"28,000",Normalized EBITDA,"99,314,000","97,843,000","81,602,000","65,755,000"
25,Tax Rate for Calcs,0,0,0,0,Tax Effect of Unusual Items

In [50]:
Income_st.columns = Income_st.iloc[0]  # Name columns to the first row of the dataframe
Income_st = Income_st.iloc[1:]  # Start reading from the 1st row
Income_st = Income_st.T  # Transpose the dataframe
Income_st.columns = Income_st.iloc[0]  # Name columns to the first row of the dataframe
Income_st.drop(Income_st.index[0], inplace=True)  # Drop the first index row
Income_st.index.name = ''  # Remove the index name
Income_st.rename(index={'ttm': '12/31/2019'}, inplace=True)  # Rename 'ttm' in the index columns to '12/31/2019'
Income_st = Income_st.iloc[:, :-5]  # Remove the last 5 irrelevant columns

In [51]:
Income_st

Cash Flow,6/30/2021,Cost of Revenue,"139,110,000","45,940,000","52,959,000","333,000","71,102,000","8,755,000","67,449,000",9.70,...,"7,610,000",Total Operating Income as Reported,"121,279,000","72,738,000","61,271,000","2,680,000",Net Interest Income,"84,577,000",-,"52,232,000"
,,,,,,,,,,,,,,,,,,,,,
Annual,6/30/2020,"64,984,000","135,620,000","43,978,000","423,000","1,186,000","53,036,000","67,449,000","72,738,000",8.12,...,Diluted Average Shares,"82,815,000","114,887,000","61,271,000","44,281,000",Interest Expense,"423,000","83,383,000",-,"46,078,000"
Quarterly,"204,094,000","62,650,000","115,856,000",Operating Income,"31,000","77,000",Tax Provision,"72,738,000","61,271,000",5.82,...,-,"83,383,000","98,172,000","44,281,000",Interest Income,"1,989,000","31,000","69,916,000",-,Reconciled Depreciation
Expand All,"198,270,000","52,232,000","96,937,000","82,815,000","-215,000",Pretax Income,"15,139,000","61,271,000","44,281,000",Diluted EPS,...,"7,540,000","69,916,000","90,056,000",Normalized Income,"2,412,000","2,063,000","-215,000","52,959,000",Reconciled Cost of Revenue,"14,190,000"
12/31/2019,"168,088,000","46,078,000","56,295,000","83,383,000","89,000","82,588,000","10,978,000","44,281,000",Basic EPS,-,...,"7,608,000","52,959,000",Net Income from Continuing & Discontinued Oper...,"67,895,731","2,094,000","2,346,000","89,000",EBITDA,"64,984,000","14,460,000"
6/30/2022,"143,015,000",Gross Profit,"52,237,000","69,916,000","-650,000","83,716,000","9,831,000",Diluted NI Available to Com Stockholders,-,9.65,...,"7,683,000",Total Expenses,"67,449,000","72,738,000","2,131,000","2,591,000",EBIT,"98,767,000","62,650,000","11,686,000"